<div class="container">
    <h2>{{ product.name }}</h2>
    <p>Описание: {{ product.description }}</p>
    <p>Стоимость: {{ product.price }}</p>
    <p>Картинка:</p><img src="/img/{{ product.image }}" alt="" class="box-image">
</div>
